<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.0-alpha.1" targetFramework="net462" />
  <package id="Caliburn.Micro.Core" version="4.0.0-alpha.1" targetFramework="net462" />
  <package id="LogoFX.Bootstrapping" version="1.7.1-rc4" targetFramework="net462" />
  <package id="LogoFX.Client.Bootstrapping" version="1.7.1-rc4" targetFramework="net462" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.Contracts" version="1.1.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.SimpleContainer" version="1.2.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Client.Bootstrapping.Core" version="1.7.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Client.Core" version="1.2.1-rc3" targetFramework="net462" />
  <package id="LogoFX.Client.Core.Core" version="1.2.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Client.Mvvm.Commanding" version="1.1.1-rc3" targetFramework="net462" />
  <package id="LogoFX.Client.Mvvm.Commanding.Core" version="1.1.1-rc3" targetFramework="net462" />
  <package id="LogoFX.Client.Mvvm.Core" version="1.1.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Core" version="1.1.1-rc3" targetFramework="net471" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Services" version="1.2.1-rc3" targetFramework="net471" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Services.Core" version="1.2.1-rc3" targetFramework="net471" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Shared" version="1.2.1-rc2" targetFramework="net471" />
  <package id="LogoFX.Client.Mvvm.ViewModelFactory" version="1.2.1-rc2" targetFramework="net471" />
  <package id="LogoFX.Client.Mvvm.ViewModelFactory.SimpleContainer" version="1.2.1-rc2" targetFramework="net471" />
  <package id="LogoFX.Core" version="1.1.1-rc2" targetFramework="net462" />
  <package id="LogoFX.Practices.IoC" version="1.1.1-rc2" targetFramework="net462" />
  <package id="Solid.Bootstrapping" version="1.2.1-rc3" targetFramework="net462" />
  <package id="Solid.Extensibility" version="1.2.1-rc2" targetFramework="net462" />
  <package id="Solid.Practices.Composition" version="1.2.1-rc3" targetFramework="net462" />
  <package id="Solid.Practices.Composition.Client" version="1.2.1-rc3" targetFramework="net462" />
  <package id="Solid.Practices.Composition.Core" version="1.2.1-rc4" targetFramework="net462" />
  <package id="Solid.Practices.IoC" version="1.2.1-rc4" targetFramework="net462" />
  <package id="Solid.Practices.Middleware" version="1.2.1-rc2" targetFramework="net462" />
  <package id="Solid.Practices.Modularity" version="1.2.1-rc2" targetFramework="net462" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net471" />
  <package id="System.Reactive.Core" version="4.0.0-preview00001" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.0.0-preview00001" targetFramework="net471" />
  <package id="System.Reactive.Linq" version="4.0.0-preview00001" targetFramework="net471" />
</packages>