<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.1.2" targetFramework="net45" />
  <package id="Attest.Fake.Core" version="1.0.9" targetFramework="net45" />
  <package id="Attest.Fake.Registration" version="1.1.1" targetFramework="net45" />
  <package id="Attest.Fake.Setup" version="1.1.3" targetFramework="net45" />
  <package id="Attest.Tests.Core" version="1.3.1" targetFramework="net45" />
  <package id="Caliburn.Micro" version="3.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.1" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="LogoFX.Bootstrapping" version="1.6.0" targetFramework="net45" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.Contracts" version="1.0.4" targetFramework="net45" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.Unity" version="1.1.1" targetFramework="net45" />
  <package id="LogoFX.Client.Bootstrapping.Core" version="1.6.4" targetFramework="net45" />
  <package id="LogoFX.Client.Bootstrapping.Testing" version="1.6.4" targetFramework="net45" />
  <package id="LogoFX.Client.Core" version="1.0.8" targetFramework="net45" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="net45" />
  <package id="LogoFX.Client.Data.Fake.ProviderBuilders" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.Commanding" version="1.0.6" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.Commanding.Core" version="1.0.6" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.Core" version="1.0.6" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.Model" version="1.0.10" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.ViewModel" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Core" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Extensions" version="1.0.7" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Extensions.Core" version="1.0.7" targetFramework="net45" />
  <package id="LogoFX.Client.Tests.Contracts" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Tests.Integration" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Tests.Shared.Caliburn.Micro" version="1.0.10" targetFramework="net45" />
  <package id="LogoFX.Core" version="1.0.7" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Solid.Bootstrapping" version="1.1.1" targetFramework="net45" />
  <package id="Solid.Extensibility" version="1.1.0" targetFramework="net45" />
  <package id="Solid.Patterns.Memento" version="1.0.5" targetFramework="net45" />
  <package id="Solid.Patterns.Visitor" version="1.0.5" targetFramework="net45" />
  <package id="Solid.Practices.Composition" version="1.1.6" targetFramework="net45" />
  <package id="Solid.Practices.Composition.Client" version="1.1.6" targetFramework="net45" />
  <package id="Solid.Practices.Composition.Core" version="1.1.6" targetFramework="net45" />
  <package id="Solid.Practices.IoC" version="1.1.1" targetFramework="net45" />
  <package id="Solid.Practices.Middleware" version="1.1.1" targetFramework="net45" />
  <package id="Solid.Practices.Modularity" version="1.1.3" targetFramework="net45" />
  <package id="Solid.Practices.Scheduling" version="1.0.7" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>