<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="LogoFX.Client.Core" version="1.2.1-rc3" targetFramework="net461" />
  <package id="LogoFX.Client.Core.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.View" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.View.Core" version="1.1.1-rc1" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" />
</packages>