<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.0.3" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="3.0.3" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net45" />
  <package id="LogoFX.Client.Core" version="1.1.0" targetFramework="net45" />
  <package id="LogoFX.Client.Core.Core" version="1.1.0" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.View" version="1.0.5" targetFramework="net45" />
  <package id="LogoFX.Client.Mvvm.View.Core" version="1.0.5" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
</packages>