<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net451" />
  <package id="LogoFX.Client.Core" version="1.0.8" targetFramework="net451" />
  <package id="LogoFX.Client.Core.Core" version="1.0.7" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.View" version="1.0.5" targetFramework="net451" />
  <package id="LogoFX.Client.Mvvm.View.Core" version="1.0.5" targetFramework="net451" />
  <package id="LogoFX.Core" version="1.0.7" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net451" />
</packages>