<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogoFX.Tools.TemplateGenerator.Shell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogoFX.Tools.TemplateGenerator.Shell.Properties.Settings>
            <setting name="DestinationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Description" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultName" serializeAs="String">
                <value />
            </setting>
        </LogoFX.Tools.TemplateGenerator.Shell.Properties.Settings>
    </userSettings>
</configuration>