<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Setup" version="1.2.1-rc2" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="LogoFX.Client.Data.Fake.ProviderBuilders" version="1.1.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Builder" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Visitor" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Composition.Core" version="1.2.1-rc6" targetFramework="net461" />
  <package id="Solid.Practices.IoC" version="1.2.1-rc4" targetFramework="net461" />
  <package id="Solid.Practices.Middleware" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Modularity" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Scheduling" version="1.2.1-rc2" targetFramework="net461" />
</packages>