<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Attest.Fake.Builders" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Registration" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Fake.Setup" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Attest.Tests.Core" version="1.4.1-rc2" targetFramework="net461" />
  <package id="Attest.Tests.xUnit" version="1.4.1-rc2" targetFramework="net461" />
  <package id="AutoMapper" version="6.1.1" targetFramework="net461" />
  <package id="Caliburn.Micro" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="4.0.0-alpha.1" targetFramework="net461" />
  <package id="LogoFX.Bootstrapping" version="1.7.1-rc6" targetFramework="net461" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.Contracts" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Bootstrapping.Adapters.SimpleContainer" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Bootstrapping.Core" version="1.7.1-rc3" targetFramework="net461" />
  <package id="LogoFX.Client.Bootstrapping.Testing" version="1.7.1-rc5" targetFramework="net461" />
  <package id="LogoFX.Client.Core" version="1.2.1-rc3" targetFramework="net461" />
  <package id="LogoFX.Client.Core.Core" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Data.Fake.ProviderBuilders" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.Model" version="1.1.1-rc4" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Core" version="1.1.1-rc3" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Services.Core" version="1.2.1-rc3" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.ViewModel.Shared" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.ViewModelFactory" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Mvvm.ViewModelFactory.SimpleContainer" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Testing.Integration.xUnit" version="1.4.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Tests.Contracts" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Tests.Integration" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Client.Tests.Shared" version="1.2.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Core" version="1.1.1-rc2" targetFramework="net461" />
  <package id="LogoFX.Practices.IoC" version="1.1.1-rc2" targetFramework="net461" />
  <package id="Solid.Bootstrapping" version="1.2.1-rc3" targetFramework="net461" />
  <package id="Solid.Extensibility" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Builder" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Memento" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Patterns.Visitor" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Composition" version="1.2.1-rc3" targetFramework="net461" />
  <package id="Solid.Practices.Composition.Client" version="1.2.1-rc3" targetFramework="net461" />
  <package id="Solid.Practices.Composition.Core" version="1.2.1-rc6" targetFramework="net461" />
  <package id="Solid.Practices.IoC" version="1.2.1-rc4" targetFramework="net461" />
  <package id="Solid.Practices.Middleware" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Modularity" version="1.2.1-rc2" targetFramework="net461" />
  <package id="Solid.Practices.Scheduling" version="1.2.1-rc2" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net461" />
</packages>